a {
  text-decoration: none;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #2e6edf;
    transition: width .2s ease;
  }
  &:hover {
    text-decoration: none;
    &::after {
      width: 100%;
    }
  }
}

.container {
  max-width: calc(1200px + 72px);
  padding: 0 36px;
  margin: 0 auto;
  @media all and (max-width: 767px) {
    max-width: calc(1200px + 36px);
    padding: 0 18px;
  }
}
.banner-section {
  background-color: #fff;
  padding-bottom: 80px;
  padding-top: 64px;
  font-size: 16px;
  overflow: hidden;
  @media all and (max-width: 767px) {
    padding: 16px 0 40px;
  }
  .hero-section-layout {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-areas: 'text image';
    @media all and (max-width: 1023px) {
      display: block;
    }
    .hero-cover-image {
      grid-area: image;
    }
    .hero-header-line {
      grid-area: text;
      margin-right: 5%;
      @media all and (max-width: 1023px) {
        margin-right: 0;
      }
      .hero-title {
        white-space: pre-line;
        margin-bottom: 24px;
        font-size: var(--fz-h1);
        line-height: 1.32;
        font-weight: 700;

      }
      .hero-sub-title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 32px;
        white-space: pre-line;
      }
      .hero-cta {
        display: flex;
        margin-bottom: 16px;
        a {
          background-color: #2e6edf;
          color: #fff;
          display: block;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-align: center;
          text-decoration-line: none;
          letter-spacing: 0.04em;
          transition: all .2s ease-in-out;
          padding: 0.9em 1.5em;
          border: 1px solid #2e6edf;
          border-radius: 4px;
        }
      }
      .hero-notification {
        a {
          color: #2e6edf;
        }
      }
    }
  }
}

